.heading {
  text-align: center;
  font-size: 25px;
  text-shadow: 3px 3px 3px rgb(114, 114, 230);
}
.subHeading {
  display: flex;
  justify-content: center;
}
.subHeading button {
  margin: 20px;
  padding: 15px;
  border: black solid 2px;
  border-radius: 35px;
  background-color: rgb(91, 219, 236);
}
.subHeading button:hover {
  background-color: rgb(21, 136, 151);
}
.body {
  display: flex;
  justify-content: center;
  text-align: center;
}
.body div {
  border: black solid 3px;
  margin: 5px;
  padding: 15px;
  border-radius: 35px;
  background-color: rgb(92, 215, 231);
  height: 300px;
  width: 400px;
}
.body p:nth-child(3) {
  color: blue;
}
